MAILINATOR_TEST_API_TOKEN=
MAILINATOR_TEST_INBOX=
MAILINATOR_TEST_PHONE_NUMBER=
MAILINATOR_TEST_MESSAGE_WITH_ATTACHMENT_ID=
MAILINATOR_TEST_ATTACHMENT_ID=
MAILINATOR_TEST_DELETE_DOMAIN=
MAILINATOR_TEST_WEBHOOKTOKEN_PRIVATEDOMAIN=
MAILINATOR_TEST_WEBHOOKTOKEN_CUSTOMSERVICE=
MAILINATOR_TEST_AUTH_SECRET=
MAILINATOR_TEST_AUTH_ID=
MAILINATOR_TEST_WEBHOOK_INBOX=
MAILINATOR_TEST_WEBHOOK_CUSTOMSERVICE=
