# Mailinator API Configuration
# Documentation: https://www.mailinator.com/documentation/docs/api/index.html
# Visit https://www.mailinator.com/ to get your API token and configure domains

MAILINATOR_TEST_API_TOKEN=
MAILINATOR_TEST_INBOX=
MAILINATOR_TEST_PHONE_NUMBER=
MAILINATOR_TEST_MESSAGE_WITH_ATTACHMENT_ID=

# Delete domain (WARNING: use with caution - only if you are 100% sure)
MAILINATOR_TEST_DELETE_DOMAIN=

# Webhook token configuration
# This assumees you have multiple webhook tokens for different testing scenarios (e.g., private domain vs twilio). Adjust as needed based on your actual test setup.
MAILINATOR_TEST_WEBHOOKTOKEN_PRIVATEDOMAIN=
MAILINATOR_TEST_WEBHOOKTOKEN_CUSTOMSERVICE=

# Authenticator configuration
MAILINATOR_TEST_AUTH_SECRET=
MAILINATOR_TEST_AUTH_ID=

# Webhook configuration
# Custom service might be something like "twilio" or "sendgrid"
MAILINATOR_TEST_WEBHOOK_INBOX=
MAILINATOR_TEST_WEBHOOK_CUSTOMSERVICE=
